


.card {
  background: #fff;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  width: 100%;
  margin: 10px 0;
  overflow: hidden;
}





.userTable {
  width: 100%;
  border-collapse: collapse;
}

.userTable thead {
  background-color: #4f46e5;
  color: #fff;
}

.userTable th,
.userTable td {
  text-align: left;
  padding: 12px;
}

.userTable tbody tr {
  border-top: 1px solid #eee;
}

.userTable tbody tr:hover {
  background-color: #f3f4f6;
  transition: background-color 0.2s;
}
